// progress-bar component
@-webkit-keyframes progressBar {
  0% {
    width: 0;
  }
  100% {
    width: var(--prog);
  }
}

@-moz-keyframes progressBar {
  0% {
    width: 0;
  }
  100% {
    width: var(--prog);
  }
}

@keyframes progressBar {
  0% {
    width: 0;
  }
  100% {
    width: var(--prog);
  }
}
