*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img,
video {
  max-width: 100%;
  height: auto;
}

::-webkit-scrollbar {
  background-color: $color-gray-1;
  color: #bcb4a8;
}
::-webkit-scrollbar-thumb {
  background-color: $color-gray-3;
}
::-webkit-scrollbar-thumb:hover {
  background-color: $color-gray-9;
}
::-webkit-scrollbar-thumb:active {
  background-color: $color-gray-4;
}

::-webkit-scrollbar-corner {
  background-color: $color-black-3;
}
