html {
  // 1rem = 10px
  // 16 * 0.625 = 10px
  font-size: 0.625rem;

  // 1rem = 11px
  // 16 * 0.6875 = 11px
  @include breakpoint(md) {
    font-size: 0.6875rem;
  }

  // 1rem = 12px
  // 16 * 0.75 = 12px
  @include breakpoint(xl) {
    font-size: 0.75rem;
  }
}

body {
  font-size: 1.4rem;
  font-family: 'Poppins', sans-serif;

  background-color: $color-gray-0;
  color: $color-white-0;
}

a {
  color: $color-white-0;
}
