//? colors
// black
$color-black-0: #000000;
$color-black-1: #0d1117;
$color-black-2: #111111;

// gray
$color-gray-0: #2e2e2e;
$color-gray-1: #343a40;
$color-gray-2: #464749;
$color-gray-3: #6c757d;
$color-gray-4: #6d6d6d;
$color-gray-5: #7c7d7e;
$color-gray-6: #9e9e9e;
$color-gray-7: #b6b3b3;
$color-gray-8: #cccccc;

// white
$color-white-0: #ffffff;
$color-white-1: #f6f6f6;
$color-white-2: #f3f3f3;
$color-white-3: #e5e5e5;
$color-white-4: #d3d3d3;

// shadow
$color-shadow-0: #00000022;
$color-shadow-1: #a5a8b14d;

//pink
$color-pink-0: #ec406a;

//? sizes
// global
$section-max-width: 1230px;
$mobile-max-width: 500px;


//? other values
$transition-0: 0.3s;
$transition-1: 0.5s;