//? colors
$color-black-0: #000000;
$color-black-1: #080808;
$color-black-2: #0e0e0e;
$color-black-3: #16191b;

$color-black-alpha-3: #121212ee;
$color-black-alpha-4: #121212aa;
$color-black-alpha-5: #12121255;
$color-black-alpha-7: #12121222;

$color-gray-0: #1e2025;
$color-gray-1: #22262e;
$color-gray-2: #272c35;
$color-gray-3: #454a53;
$color-gray-4: #4f5659;
$color-gray-8: #5d626b;
$color-gray-9: #60676c;

$color-white-0: #edeef0;
$color-white-1: #d1d5db;

$color-pink-0: #ec406a;

$color-purple-0: #635baf;

$color-red-0: #d96060;
$color-red-1: #df8282;

$color-cyan-0: #40ecde;

$color-green-0: #4eec40;

$color-gold-0: #fde782;

$color-orange-0: #cf9965;
$color-orange-1: #fcd8a1;

//? sizes
// section
$section-max-width: 1920px;

// sidebar
$sidebar-width: 20rem;

// header
$header-height: 6rem;

// menu toggle
$toggle-icon-height: 2.4px;
$toggle-icon-width: calc($toggle-icon-height * 10);
$toggle-icon-gap-neg: calc($toggle-icon-height * -3);
$toggle-icon-gap-pos: calc($toggle-icon-height * 3);

// progress bar
$progress-bar-height: 2rem;
$progress-bar-height-xs: 3rem;

//? other values
$transition-0: 0.3s;
