//? colors
$color-black-0: #000000;
$color-black-1: #080808;
$color-black-2: #181818;

$color-gray-0: #1e2127;
$color-gray-1: #22262e;
$color-gray-8: #5d626b;


$color-white-0: #edeef0;

$color-pink-0: #ec406a;

$color-red-0: #D96060;

$color-cyan-0: #40ecde;

$color-gold-0: #fcd8a1;
$color-gold-1: #fde782;


//? sizes
$section-max-width: 1230px;

//? other values
$transition-0: 0.3s;
$transition-1: 0.5s;