.progress-bar {
  background-color: $color-gray-3;

  width: 100%;
  height: $progress-bar-height-xs;

  border-radius: 5rem;
  overflow-x: hidden;

  @include breakpoint(sm) {
    height: $progress-bar-height;
  }

  &::before {
    content: "";
    display: block;
    height: 100%;

    border-radius: inherit;
    background-color: $color-gray-2;
    transition: background-color $transition-0;

    -webkit-animation: progressBar 2s ease;
    -webkit-animation-fill-mode: both;
    -moz-animation: progressBar 2s ease;
    -moz-animation-fill-mode: both;
    animation: progressBar 2s ease;
    animation-fill-mode: both;
  }
}
