.progress-bar {
  background-color: $color-gray-3;

  width: 100%;
  height: $progress-bar-height-xs;

  border-radius: 5rem;
  overflow-x: hidden;

  @include breakpoint(md) {
    height: $progress-bar-height;
  }

  &::before {
    content: '';
    display: block;
    height: 100%;

    border-radius: inherit;
    background-color: $color-gray-2;

    -webkit-animation: progressBar $transition-0 linear var(--delay);
    -webkit-animation-fill-mode: both;
    -moz-animation: progressBar $transition-0 linear var(--delay);
    -moz-animation-fill-mode: both;
    animation: progressBar $transition-0 linear var(--delay);
    animation-fill-mode: both;
  }
}
