aside.sidebar {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 1rem;

  @include breakpoint(lg) {
    min-width: $sidebar-width;
  }

  // sidebar sections
  > section {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;

    // header
    h2 {
      color: $color-orange-0;

      font-size: 1.5rem;
      text-transform: uppercase;
    }

    // list items
    nav ul {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      // sub header
      h3 {
        color: $color-orange-1;

        font-size: 1.3rem;
        font-weight: 300;
        text-transform: uppercase;
        margin-top: 1rem;

        // sub-header separator
        .sep {
          color: $color-red-0;
        }

        // usb-header tag
        .tag {
          color: $color-orange-0;
        }
      }

      & > h3:first-child {
        margin-top: 0;
      }

      // list item
      li {
        padding: 0;

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 1rem;

          font-weight: 500;
          text-transform: capitalize;
          color: $color-white-1;

          transition: color $transition-0;

          i {
            color: $color-orange-1;
          }

          &:hover {
            color: $color-red-1;
          }
        }
      }
    }

    @include breakpoint(sm) {
      text-align: left;

      nav ul li {
        padding: 0 2rem;

        a {
          justify-content: stretch;
        }
      }
    }

    @include breakpoint(lg) {
      nav ul li {
        padding: 0;
      }
    }
  }

  // social
  .sidebar__social nav ul {
    justify-content: center;
    flex-direction: row;
    gap: 2rem;

    li a i {
      font-size: 1.8rem;

      &:hover {
        color: $color-red-0;
      }
    }

    li a span {
      display: none;
    }

    @include breakpoint(sm) {
      flex-direction: column;
      gap: 1.5rem;

      li a i {
        font-size: 1.5rem;

        &:hover {
          color: $color-orange-1;
        }
      }

      li a span {
        display: block;
      }
    }
  }

  // contact
  .sidebar__contact nav ul li a {
    text-transform: lowercase;

    i {
      display: none;

      @include breakpoint(sm) {
        display: block;
      }
    }
  }
}
