header.header {
  background-color: $color-gray-0;
  box-shadow: 0 0 1rem $color-black-alpha-3;

  position: sticky;
  top: 0;

  z-index: 10;

  // container
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 2rem;
    max-width: $section-max-width;
    min-height: $header-height;

    margin: 0 auto;

    @include breakpoint(sm) {
      padding: 0 4rem;
    }
  }

  // menu
  .header__menu {
    display: flex;
    align-items: center;
    min-height: inherit;
  }

  // links
  .menu__links {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;

    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-height: calc(100vh - $header-height);
    max-height: calc(100svh - $header-height);

    background-color: $color-red-0;
    visibility: hidden;
    opacity: 0;

    transition: visibility $transition-0, opacity $transition-0, gap $transition-0;
    overflow-y: auto;

    // mobile styles
    &.active {
      visibility: visible;
      opacity: 1;
      gap: 0.1rem;
    }

    // menu items
    li a {
      background-color: $color-gray-2;
      display: inline-block;

      font-size: 1.2rem;
      text-transform: uppercase;
      text-align: center;

      box-shadow: 0 0 3rem $color-black-alpha-4 inset;

      padding: 2rem 1rem;
      width: 100%;

      transition: color $transition-0, box-shadow $transition-0;

      &:hover {
        color: $color-red-1;
        box-shadow: 0 0 5rem $color-black-alpha-3 inset;
      }
    }

    li.active-item a {
      box-shadow: 0 0 5rem $color-black-alpha-3 inset;
      color: $color-red-0;
    }

    // desktop styles
    @include breakpoint(md) {
      position: static;

      flex-direction: row;

      visibility: visible;
      opacity: 1;
      width: auto;

      gap: 2rem;

      &,
      li a,
      li a:hover {
        background-color: transparent;
        box-shadow: none;
      }

      li.active-item a {
        box-shadow: none;
      }
    }
  }

  // brand
  .header__brand {
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    word-spacing: -0.3rem;

    @include breakpoint(md) {
      font-size: 1.5rem;
    }

    // brand text
    a {
      padding: 2rem 0;
      color: $color-orange-1;

      &:hover {
        color: $color-red-1;
      }
    }

    // angles
    span {
      color: $color-pink-0;
    }
  }
}
