main.home {
  flex: 1;

  display: flex;
  flex-direction: column;
  gap: 3rem;

  padding: 1rem 0;

  @include breakpoint(sm) {
    padding: 1rem;
  }

  // profile
  .home__profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 2rem;
    border-radius: 1rem;

    background-color: $color-gray-2;
    padding: 2rem;

    img {
      width: 12rem;
      height: 12rem;

      border-radius: 50%;

      border: 0.5rem solid transparent;
      outline: 0.2rem dashed $color-red-0;
    }

    p {
      line-height: 2;

      font-size: 1.3rem;
      text-align: center;

      b {
        color: $color-orange-1;
        text-transform: capitalize;
      }
    }

    @include breakpoint(sm) {
      flex-direction: row;

      p {
        font-size: 1.5rem;
        text-align: left;
      }
    }
  }

  // others
  section:not(.home__profile) {
    h2,
    h3 {
      color: $color-orange-0;
      text-transform: uppercase;
      text-align: center;

      font-size: 1.5rem;

      @include breakpoint(md) {
        text-align: left;
      }
    }

    h3 {
      color: $color-orange-1;

      font-size: 1.2rem;
      font-weight: 300;
      margin-top: 2rem;
    }

    // list
    .home__list {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      @include breakpoint(md) {
        gap: 0.5rem;
      }
    }

    .home__label {
      color: $color-red-0;

      font-size: 1.3rem;
      font-weight: 300;
      text-transform: uppercase;

      @include breakpoint(md) {
        padding: 0.1rem 1rem;
      }
    }

    .home__value,
    .home__text {
      color: $color-white-1;
      text-transform: capitalize;

      a {
        color: $color-white-0;
      }
    }
  }

  // skill
  .home__skill li {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    position: relative;
    padding: 0.5rem 1rem;

    @include breakpoint(md) {
      padding: 0.5rem 2rem;

      cursor: pointer;

      &:hover .home__label {
        background-color: $color-black-2;
      }
    }

    .home__label {
      position: absolute;
      border-radius: 0.5rem;

      @include breakpoint(md) {
        position: static;

        min-width: 12rem;
        transition: all $transition-0 linear;
      }
    }
  }

  // about me
  .home__about ul {
    display: flex;
    flex-direction: column;
    gap: 2rem !important;
    padding: 1.5rem 1rem;

    @include breakpoint(md) {
      padding: 1.5rem 2rem;
    }

    li {
      display: flex;
      text-align: center;
      flex-direction: column;
      gap: 1rem;

      @include breakpoint(md) {
        flex-direction: row;
        text-align: left;
      }
    }

    .home__label {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 15rem;
      color: $color-orange-1;

      span {
        color: $color-red-0;
        padding: 0 0.5rem;
      }

      @include breakpoint(md) {
        justify-content: flex-start;
      }
    }
  }
}
